asgiref
beautifulsoup4
contourpy
cycler
dj-database-url
Django
django-heroku
fonttools
gunicorn
kiwisolver
matplotlib
mysql
mysqlclient
numpy
packaging
pillow
psycopg2
pyparsing
python-dateutil
python-decouple
six
soupsieve
sqlparse
typing_extensions
tzdata
whitenoise
