{%extends 'base.layout.html'%}
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DAWA MASHINANI</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">REPORTS<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'search_status' %}">County Status</a></li>
            <li><a href="{% url 'search_disease' %}">Diseases in Counties</a></li>
            <li><a href="{% url 'search_pest' %}">Pests in Counties</a></li>
          </ul>
        </li>
        <li><a href="{% url 'retrieve_field_officer' %}">FIELD OFFICERS</a></li>
        <li><a href="{% url 'retrieve_county' %}">COUNTIES</a></li>
        <li><a href="{% url 'retrieve_disease' %}">DISEASES</a></li>
        <li><a href="{% url 'retrieve_pest' %}">PESTS</a></li>
  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li> <a href="{% url 'logout' %}"> <span class="glyphicon glyphicon-user"></span> Logout</a> </li>
        <li><a href="#"> {{user.username}}</a></li>
      </ul>
    </div>
  </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <!-- <div class="card-header text-center">
                        <h2>DAWA MASHINANI</h2>
                    </div> -->
                    <div class="card-body text-center">
                        <div class="mb-3">
                            <a href="{% url 'adminPage' %}" class="btn btn-primary btn-sm btn-custom">HOME</a>
                            <a href="{% url 'create_county' %}" class="btn btn-success btn-sm btn-custom">ADD COUNTY</a>
                        </div>
                        <h6 class="text-muted font-italic">Counties</h6>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>County Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cty in counties %}
                                    <tr>
                                        <td>{{cty.id}}</td>
                                        <td>{{cty.county_name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

